/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

/* Global */
html, body {
  margin: 0; /* Eliminar márgenes predeterminados */
  padding: 0; /* Eliminar relleno predeterminado */
  height: 100%;
  font-family: 'Fugaz One', cursive;
  overflow-y: auto; /* Agrega desplazamiento vertical */
}

.parte-uno {
  background-image: url('fondo.jpg'); /* Imagen de fondo */
  background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
  padding: 4em;
  text-align: center;
}