/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}
body{
    height: calc(100vh - 8em);
    padding: 4em;
    font-family: 'Fugaz One', cursive; /* Cambiamos 'Anonymous Pro' por 'Fugaz One' */
    background-color: rgb(255, 238, 0);  
  }

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(0, 0, 0, 0.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter {
    animation: typewriter 3s steps(22) 0.5s 1 normal both, /* Ajusta la duración según tus necesidades */
               blinkTextCursor 650ms steps(44) infinite normal;
}
@keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 8.6em; /* Ajusta la longitud final según tus necesidades */
    }
  }
  
@keyframes blinkTextCursor{
  from{border-right-color: rgba(0, 0, 0, 0.75);}
  to{border-right-color: transparent;}
}

h1.line-1.anim-typewriter {
    font-size: 5em; /* Ajusta el tamaño de la fuente según tus necesidades */
}

.fotos{
    margin-top: 20px;
    margin-left: -100px;
}