/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

/* Global */
html, body {
  margin: 0; /* Eliminar m치rgenes predeterminados */
  padding: 0; /* Eliminar relleno predeterminado */
  height: 100%;
  font-family: 'Fugaz One', cursive;
  overflow-y: auto; /* Agrega desplazamiento vertical */
}

/*NAVBAR*/

.navbar {
  background-color: black;
  padding: 20px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.nav-links li {
  display: inline;
  margin-left: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: yellow;
  position: relative;
  transition: color 0.3s; /* Agregamos una transici칩n para suavizar el cambio de color */
}

.nav-links li a:hover {
  color: rgb(255, 255, 255); /* Cambiamos el color del texto a negro para que sea legible */
}

.parte-uno {
  background-color: yellow; /* Cambiar el color de fondo a amarillo */
  padding: 4em;
  text-align: center;
  margin: 0; /* Eliminar m치rgenes */
}


.fotos{
    margin-top: -10%;
    margin-left: -100px;
}

.h1-information {
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-top: 5%;
}
.information {
  display: flex;
  align-items: center;
  background-color: white; /* Fondo blanco */
  padding: 20px; /* Ajuste de relleno */
  margin: 0; /* Para evitar m치rgenes */
  width: 100%; /* Extenderse al 100% */
  box-sizing: border-box; /* Incluir relleno y borde en el ancho */
}
.information .image {
  flex: 1;
}
.information .text {
  flex: 1;
}