/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

/* Global */
html, body {
  margin: 0; /* Eliminar márgenes predeterminados */
  padding: 0; /* Eliminar relleno predeterminado */
  height: 100%;
  font-family: 'Fugaz One', cursive;
  overflow-y: auto; /* Agrega desplazamiento vertical */
}

/*NAVBAR*/

.navbar {
  background-color: black;
  padding: 20px;
  position: relative; /* Establece la posición relativa para el navbar */
}

.logo {
  width: 50px; /* Ancho del logo */
  height: 50px; /* Altura del logo */
  position: absolute; /* Establece la posición absoluta para el logo */
  top: 50%; /* Lo posiciona verticalmente en el centro */
  left: 20px; /* Ajusta la posición horizontal */
  transform: translateY(-50%); /* Corrige la posición vertical */
}


.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.nav-links li {
  display: inline;
  margin-left: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: yellow;
  position: relative;
  transition: color 0.3s; /* Agregamos una transición para suavizar el cambio de color */
}

.nav-links li a:hover {
  color: rgb(255, 255, 255); /* Cambiamos el color del texto a negro para que sea legible */
}

.parte-uno {
  background-color: yellow; /* Cambiar el color de fondo a amarillo */
  padding: 4em;
  text-align: center;
  margin: 0; /* Eliminar márgenes */
}

.titulo{
  font-size: 500%;
}
.fotos{
    margin-top: -10%;
    margin-left: -100px;
}

.h1-information {
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-top: 5%;
}
.information {
  display: flex;
  align-items: center;
  background-color: white; /* Fondo blanco */
  padding: 20px; /* Ajuste de relleno */
  margin: 0; /* Para evitar márgenes */
  width: 100%; /* Extenderse al 100% */
  box-sizing: border-box; /* Incluir relleno y borde en el ancho */
}
.information .image {
  flex: 1;
}
.information .text {
  flex: 1;
}