@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

html, body {
    font-family: 'Fugaz One', cursive;
    overflow-y: auto; /* Agrega desplazamiento vertical */
    padding: 0; /* Eliminar relleno predeterminado */
    margin: 0;
    background-color: #ffee00;;
}


/*NAVBAR*/

/* Estilos modificados para el navbar */

.custom-navbar {
    background-color: black;
    padding: 20px;
    position: relative;
}

.custom-logo {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.custom-nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.custom-nav-links li {
    display: inline;
    margin-left: 20px;
}

.custom-nav-links li a {
    text-decoration: none;
    color: yellow;
    position: relative;
    transition: color 0.3s;
}

.custom-nav-links li a:hover {
    color: rgb(255, 255, 255);
}


/* Estilos de márgenes para la flecha */
.arrow-icon {
  width: 200px; /* Ancho de la flecha */
  height: 200px; /* Altura automática */
  margin-left: 30%;
}

.svg-overlay {
  margin-top: 10px;
}

.content-2 {
  text-align: center;
  background-color: #ffffff;
  margin-top: 0px;
  margin-left: 200px;
  margin-right: 200px;
}

.carousel-inner img {
  margin-top: 10px;
  width: 850px;
  height: 500px;
}



.carousel-control-prev {
  margin-top: 50px;
  margin-left: 250px;
}

.carousel-control-next {
  margin-top: 50px;
  margin-right: 250px;
}

.titulo{
  text-align: center;
  color: black;
margin-top: 30px;
}

/* Estilos para el catálogo de bandas */
.band-catalog {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  margin-top: 20px;
}

.band {
  background-color: black;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin: 0 25px; /* Ajusta el espacio entre las bandas */
}

.band img {
  display: block;
  margin: 0 auto;
}

.band-name {
  color: white;
  margin-top: 10px;
} 
